
[Unit]
Description=Simple mail notifier

[Service]
Type=simple
User=root
ExecStart=/usr/bin/nodejs /home/gpolart/simple-notifier/notifier.js
Restart=always

[Install]
WantedBy=multi-user.target
